<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contents</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Malayalam:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./index.css">
</head>

<body>

    <div class="page-container">
        <div class="top-section">

            <h1 class="malayalam-title">ഉള്ളടക്കം</h1>
        </div>

        <ul class="topics-list">
            <li>
                <div class="topic-left">
                    <span class="hand-icon">
                    </span>
                    <a href="contents/topic1.html" class="topic-link">ഫോക്‌ലോറും ഉത്പത്തിയും</a>
                </div>
                <a href="quiz-slide.html" class="question-btn">Questions
                    <svg viewBox="0 0 24 24" width="24" height="24">
                        <path
                            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z" />
                    </svg>
                </a>
            </li>
            <li>
                <div class="topic-left">
                    <span class="hand-icon">
                    </span>
                    <a href="contents/topic2.html" class="topic-link">കുഞ്ചൻ നമ്പ്യാരും തുള്ളലിൻ്റെ ജനപ്രിയതയും</a>
                </div>
                <a href="quiz-slide_2.html" class="question-btn">Questions
                    <svg viewBox="0 0 24 24" width="24" height="24">
                        <path
                            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z" />
                    </svg>
                </a>
            </li>

            <li>
                <div class="topic-left">
                    <span class="hand-icon">
                    </span>
                    <a href="contents/topic3.html" class="topic-link">തുള്ളൽ: കേരളത്തിൻ്റെ ജനകീയ നൃത്തനാടക കല</a>
                </div>
                <a href="quiz-slide_3.html" class="question-btn">Questions
                    <svg viewBox="0 0 24 24" width="24" height="24">
                        <path
                            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z" />
                    </svg>
                </a>
            </li>

            <li>
                <div class="topic-left">
                    <span class="hand-icon">
                    </span>
                    <a href="contents/topic4.html" class="topic-link">അല്പമല്ല ഭുജിക്കുന്നു</a>
                </div>
                <a href="quiz-slide_4.html" class="question-btn">Questions
                    <svg viewBox="0 0 24 24" width="24" height="24">
                        <path
                            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z" />
                    </svg>
                </a>
            </li>
        </ul>
    </div>

</body>

</html>